apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_app_name }}
  namespace: {{ argocd_namespace }}
spec:
  project: default
  source:
    repoURL: {{ argocd_repo_url }}
    targetRevision: {{ argocd_target_revision }}
    path: {{ argocd_app_path }}
  destination:
    server: {{ argocd_destination_server }}
    namespace: {{ argocd_destination_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
